src/conf/xml-resources/web-service-references/MovieStoreSoap/wsdl/localhost_8080/online-movie-store/MovieStoreSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.uts/" name="MovieStoreSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.uts/" schemaLocation="http://localhost:8080/online-movie-store/MovieStoreSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="matchID">
<part name="parameters" element="tns:matchID"/>
</message>
<message name="matchIDResponse">
<part name="parameters" element="tns:matchIDResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getApp">
<part name="parameters" element="tns:getApp"/>
</message>
<message name="getAppResponse">
<part name="parameters" element="tns:getAppResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="getHistoryApp">
<part name="parameters" element="tns:getHistoryApp"/>
</message>
<message name="getHistoryAppResponse">
<part name="parameters" element="tns:getHistoryAppResponse"/>
</message>
<message name="getuserApp">
<part name="parameters" element="tns:getuserApp"/>
</message>
<message name="getuserAppResponse">
<part name="parameters" element="tns:getuserAppResponse"/>
</message>
<message name="fetchUsers">
<part name="parameters" element="tns:fetchUsers"/>
</message>
<message name="fetchUsersResponse">
<part name="parameters" element="tns:fetchUsersResponse"/>
</message>
<message name="fetchLogin">
<part name="parameters" element="tns:fetchLogin"/>
</message>
<message name="fetchLoginResponse">
<part name="parameters" element="tns:fetchLoginResponse"/>
</message>
<message name="fetchMovies">
<part name="parameters" element="tns:fetchMovies"/>
</message>
<message name="fetchMoviesResponse">
<part name="parameters" element="tns:fetchMoviesResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="cancelMovieOrder">
<part name="parameters" element="tns:cancelMovieOrder"/>
</message>
<message name="cancelMovieOrderResponse">
<part name="parameters" element="tns:cancelMovieOrderResponse"/>
</message>
<message name="getOrderByorderID">
<part name="parameters" element="tns:getOrderByorderID"/>
</message>
<message name="getOrderByorderIDResponse">
<part name="parameters" element="tns:getOrderByorderIDResponse"/>
</message>
<message name="getOrderByTitle">
<part name="parameters" element="tns:getOrderByTitle"/>
</message>
<message name="getOrderByTitleResponse">
<part name="parameters" element="tns:getOrderByTitleResponse"/>
</message>
<portType name="MovieStoreSoap">
<operation name="matchID">
<input wsam:Action="http://soap.uts/MovieStoreSoap/matchIDRequest" message="tns:matchID"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/matchIDResponse" message="tns:matchIDResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/matchID/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/matchID/Fault/Exception"/>
</operation>
<operation name="getApp">
<input wsam:Action="http://soap.uts/MovieStoreSoap/getAppRequest" message="tns:getApp"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/getAppResponse" message="tns:getAppResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.uts/MovieStoreSoap/getApp/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/getApp/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/getApp/Fault/Exception"/>
</operation>
<operation name="getHistoryApp">
<input wsam:Action="http://soap.uts/MovieStoreSoap/getHistoryAppRequest" message="tns:getHistoryApp"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/getHistoryAppResponse" message="tns:getHistoryAppResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.uts/MovieStoreSoap/getHistoryApp/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/getHistoryApp/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/getHistoryApp/Fault/Exception"/>
</operation>
<operation name="getuserApp">
<input wsam:Action="http://soap.uts/MovieStoreSoap/getuserAppRequest" message="tns:getuserApp"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/getuserAppResponse" message="tns:getuserAppResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.uts/MovieStoreSoap/getuserApp/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/getuserApp/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/getuserApp/Fault/Exception"/>
</operation>
<operation name="fetchUsers">
<input wsam:Action="http://soap.uts/MovieStoreSoap/fetchUsersRequest" message="tns:fetchUsers"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/fetchUsersResponse" message="tns:fetchUsersResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/fetchUsers/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/fetchUsers/Fault/Exception"/>
</operation>
<operation name="fetchLogin">
<input wsam:Action="http://soap.uts/MovieStoreSoap/fetchLoginRequest" message="tns:fetchLogin"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/fetchLoginResponse" message="tns:fetchLoginResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/fetchLogin/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/fetchLogin/Fault/Exception"/>
</operation>
<operation name="fetchMovies">
<input wsam:Action="http://soap.uts/MovieStoreSoap/fetchMoviesRequest" message="tns:fetchMovies"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/fetchMoviesResponse" message="tns:fetchMoviesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/fetchMovies/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/fetchMovies/Fault/Exception"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://soap.uts/MovieStoreSoap/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/deleteUserResponse" message="tns:deleteUserResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/deleteUser/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/deleteUser/Fault/Exception"/>
</operation>
<operation name="cancelMovieOrder">
<input wsam:Action="http://soap.uts/MovieStoreSoap/cancelMovieOrderRequest" message="tns:cancelMovieOrder"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/cancelMovieOrderResponse" message="tns:cancelMovieOrderResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/cancelMovieOrder/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/cancelMovieOrder/Fault/Exception"/>
</operation>
<operation name="getOrderByorderID">
<input wsam:Action="http://soap.uts/MovieStoreSoap/getOrderByorderIDRequest" message="tns:getOrderByorderID"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/getOrderByorderIDResponse" message="tns:getOrderByorderIDResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/getOrderByorderID/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/getOrderByorderID/Fault/Exception"/>
</operation>
<operation name="getOrderByTitle">
<input wsam:Action="http://soap.uts/MovieStoreSoap/getOrderByTitleRequest" message="tns:getOrderByTitle"/>
<output wsam:Action="http://soap.uts/MovieStoreSoap/getOrderByTitleResponse" message="tns:getOrderByTitleResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.uts/MovieStoreSoap/getOrderByTitle/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.uts/MovieStoreSoap/getOrderByTitle/Fault/Exception"/>
</operation>
</portType>
<binding name="MovieStoreSoapPortBinding" type="tns:MovieStoreSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="matchID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getHistoryApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getuserApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cancelMovieOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getOrderByorderID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getOrderByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="MovieStoreSoap">
<port name="MovieStoreSoapPort" binding="tns:MovieStoreSoapPortBinding">
<soap:address location="http://localhost:8080/online-movie-store/MovieStoreSoap"/>
</port>
</service>
</definitions>